body {
    margin: 0px;
    padding: 0px;
    background: #f8f8f8;
}
header {
    width: 100%;
    height: 555px;
}
a, a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}
h1, h2 {
    font-family: "New Times Roman", sans-serif;
}
.row {
    display: flex;
    justify-content: center;
}
.rnd-border {
    border-radius: 20px;
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
    border-bottom: 5px solid #d8d8d8;
}
.title-wrap h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
    font-family: "New Times Roman";
}
/********************************
Header Section Styling
********************************/
.header-top {
    width: 100%;
    height: 90px;
    background-color: #380e5d;
    color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    clear: left;
}
.header-top .logo {
    float: left;
    margin: 33px 50px;
}
.header-top .logo h2 {
    margin: 0px;
    font-size: 20px;
}
.header-top .list {
    float: left;
}
.header-top .list li {
    float: left;
    padding: 20px 26px;
}
.header-top .list li:hover {
    background: #6318a5 !important;
    transition: .2s;
}
.header-top .list a {
    color: white;
}
.welcome-wrap {
    width: 100%;
    height: 455px;
    position: relative;
    color: white;
    background: url('images/wallpaper.jpg');
    background-size: cover;
    margin-top: 90px;
}
/**** Title ****/
.welcome-wrap .title-wrap {
    width: 100%;
    background: rgba(0, 0, 0, .15);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

/**** About ****/
.welcome-wrap .about-wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
.welcome-wrap .about-wrap .about {
    max-height: 260px;
    width: 875px;
    height: 100%;
    float: left;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    color: #363636;
    position: relative;
}
.welcome-wrap .about-wrap .about h2 {
    letter-spacing: 2px;
    margin-top: 0px;
    padding-left: 10px;
    border-left: 4px solid #363636;
    font-size: 30px;
}
.welcome-wrap .about-wrap .about p {
    font-size: 18px;
    font-family: sans-serif;
}
.welcome-wrap .about-wrap .social {
    max-height: 300px;
    max-width: 373px;
    width: 100%;
    height: 100%;
    float: right;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
}
.welcome-wrap .about-wrap .social img {
    width: 100%;
    height: auto;
}
/**** Profiles ****/
.about-wrap .about .profiles {
    position: absolute;
    top: 0;
    right: 0;
}
.github, .linkedin {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    transition: .5s;
}
.github i.fab, .linkedin i.fab {
    display: inline-block;
    margin-top: 12.5px;
}
.profiles .github {
    float: left;
    background: #24292e;
}
.profiles .linkedin {
    float: right;
    background: #0a66c2;
}
.github a, .linkedin a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: white;
    width: 45px;
    height: 45px;
    transition: .5s;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
}
.github:hover, .linkedin:hover {
    background: white;
    transition: .5s;
}
.github:hover a {
    color: #24292e;
    transition: .5s;
    border: 2px solid #24292e;
}
.linkedin:hover a {
    color: #0a66c2;
    transition: .5s;
    border: 2px solid #0a66c2;
}

/********************************
Main Section Styling
********************************/
.skills-wrap {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
}
.skills-wrap .skill {
    width: 300px;
    height: 300px;
    margin: 0px;
    color: white;
}
.skill h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.skill p {
    text-align: center;
    font-size: 17px;
    font-family: "New Times Roman", sans-serif;
}
/**** Individual Row Style ****/
.row.two {
    margin-top: -132.5px;
}
/**** Individual Skill Style ****/
.one .skill.one {
    background: url('images/skills/html.png') no-repeat;
    background-size: contain;
}
.one .skill.two {
    background: url('images/skills/css.png') no-repeat;
    background-size: contain;
}
.one .skill.three {
    background: url('images/skills/javascript.png') no-repeat;
    background-size: contain;
}
.one .skill.four {
    background: url('images/skills/php.png') no-repeat;
    background-size: contain;
}
.two .skill.one {
    background: url('images/skills/python.png') no-repeat;
    background-size: contain;
}
.two .skill.two {
    background: url('images/skills/mysql.png') no-repeat;
    background-size: contain;
}
.two .skill.three {
    background: url('images/skills/bootstrap.png') no-repeat;
    background-size: contain;
}
/**** Projects ****/
.projects-wrap .project {
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    background: #ececec;
    border-bottom: 3px solid grey;
    border-radius: 20px;
    margin: 20px 12px;
}
.project .project-title {
    padding: 0px 10px 0px 10px;
}
.projects-wrap .project p.type {
    font-size: 20px;
    margin-bottom: 5px;
}
.projects-wrap .project p.status {
    margin-top: 10px;
}
.project .link a {
    display: inline-block;
    padding: 9px 13px;
    background: #17a4e6;
    color: white;
    border-bottom: 4px solid #3377bb;
    border-radius: 6px;
}
.project .link a:hover {
    margin-top: 4px;
    border-bottom-width: 0px;
    transition: .3s;
}
/*******************************
Footer Section Styling
*******************************/
footer {
    text-align: center;
    padding: 35px 100px;
    background-color: #380e5d;
    color: white;
    margin-top: 20px;
}
